  <h1>Fishes</h1>

<div id="browse">
<!-- <p><a href="#" onClick="showAll()">Display all forms</a> </p> -->
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newThing()">New</a></th>
    <th></th>
    <th>fish_id</th>
    <th>rarity_id</th>
    <th>name</th>
    <th>color</th>
    <th>description</th>
    <th>favorite_movie</th>
  </tr>
  <tr>
    <td><a href="#" onClick="updateThing('this.fish_id')">Edit</a></td>
    <td><a href="#" onclick="deleteThing('this.fish_id')">Delete</a></td>
    <td align="right" >1</td>
    <td align="right" >2</td>
    <td >Salmon</td>
    <td align="right" >Pink</td>
    <td>A medium-sized fish</td>
    <td>Finding Nemo</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->





<div id="insert">
    <form method="POST" id="addThing">
        <legend><strong>Add Fish</strong></legend>
          <fieldset class="fields">
            <label> rarity </label> <select name="rarity">
              <option value="0">&nbsp;</option>
                <option value="1">Common</option>
                <option value="2">Uncommon</option>
                <option value="3">Rare</option>
                </select>
            <label> name </label> <input type="text" name="name">
            <label> color </label> <input type="text" name="color">
            <label> description </label> <input type="text" name="description">
            <label> favorite_movie </label> <input type="text" name="favorite_movie">
      </fieldset>
          <input class="btn" type="submit" id="addThing" value="Add Fish">
          <input class="btn" type="button" value="cancel" onClick="browseThing()">
  </form> 
</div><!-- insert -->
<p>&nbsp;</p>




<div id="update">
    <form method="POST" id="UpdateThing">
        <legend><strong>Update Thing</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="fish_id" id="update_fish_id" value="1">
          <label> fish_id: </label> 1
            <label> rarity </label> <select name="rarity">
              <option value="0">&nbsp;</option>
              <option value="1">Common</option>
              <option value="2" selected>Uncommon</option>
              <option value="3">Rare</option>
              </select>
            <label> name </label> <input type="text" name="name" value="Salmon">
            <label> color </label> <input type="text" name="color" value="Pink">
            <label> description </label> <input type="text" name="description" value="A medium-sized fish">
            <label> favorite_movie </label> <input type="text" name="favorite_movie" value="Finding Nemo">
      </fieldset>
          <input class="btn" type="submit" id="UpdateThing" value="Save Update Fish">
          <input class="btn" type="button" value="cancel" onClick="browseThing()">
  </form> 
</div><!-- update -->
<p>&nbsp;</p>





<div id="delete" style="display: block">
  <form method="POST" id="deleteThing">
      <legend><strong>Delete Fish</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="fish_id" id="delete_fish_id" value="1">
          <label><strong>fish_id: </strong></label> 1
            <label> <strong>Name</strong> </label> Salmon
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteThing" value="Delete Fish">
          <input class="btn" type="button" value="cancel" onClick="browseThing()">
  </form> 
</div><!-- delete -->

