<h1>PlayerRods</h1>

  <div id="browse">
    <!-- Data for the initial PlayerRod connections -->
    <table border="1" cellpadding="5">
      <tr>
        <th><a href="#" onClick="newThing()">New</a></th>
        <th></th>
        <th>player_id</th>
        <th>rod_id</th>
      </tr>
      <tr>
        <td><a href="#" onClick="updateThing('this.player_id', 'this.rod_id')">Edit</a></td>
        <td><a href="#" onclick="deleteThing('this.player_id', 'this.rod_id')">Delete</a></td>
        <td align="right">1</td>
        <td align="right">1</td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div><!-- browse -->

  <div id="insert">
    <form method="POST" id="addThing">
      <legend><strong>Add PlayerRod Connection</strong></legend>
      <fieldset class="fields">
        <label> player search bar </label> <input type="search" name="player_id">
        <label> rod search bar </label> <input type="search" name="rod_id">
      </fieldset>
      <input class="btn" type="submit" id="addThing" value="Add PlayerRod Connection">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- insert -->
  <p>&nbsp;</p>

  <div id="update">
    <form method="POST" id="UpdateThing">
      <legend><strong>Update PlayerRod Connection</strong></legend>
      <fieldset class="fields">
        <label> selected player_id </label> <input name="player_id" id="update_player_id" value="1">
        <label> selected rod_id </label> <input name="rod_id" id="update_rod_id" value="1">
        <label> player search bar </label> <input type="search" id="update_player_id" name="player_id">
        <label> rod search bar </label> <input type="search" id="update_rod_id" name="rod_id">
       <!--  <label> player_id: </label> 1
        <label> rod_id: </label> 1 -->
      </fieldset>
      <input class="btn" type="submit" id="UpdateThing" value="Save Update PlayerRod Connection">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- update -->
  <p>&nbsp;</p>

  <div id="delete" style="display: block">
    <form method="POST" id="deleteThing">
      <legend><strong>Delete PlayerRod Connection</strong></legend>
      <fieldset class="fields">
        <p>Are you sure you wish to delete the following connection?</p>
        <input type="hidden" name="player_id" id="delete_player_id" value="1">
        <input type="hidden" name="rod_id" id="delete_rod_id" value="1">
        <label><strong>player_id:</strong></label> 1
        <label><strong>rod_id:</strong></label> 1
      </fieldset>
      <input class="btn" type="submit" id="DeleteThing" value="Delete PlayerRod Connection">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- delete -->